<!-- login.component.html -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name">
      <div *ngIf="loginForm.get('name')?.invalid && (loginForm.get('name')?.dirty || loginForm.get('name')?.touched)">
        <div *ngIf="loginForm.get('name')?.hasError('required')">Name is required</div>
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
        <div *ngIf="loginForm.get('email')?.hasError('required')">Email is required</div>
        <div *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</div>
      </div>
    </div>
    <div>
      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" formControlName="phone">
      <div *ngIf="loginForm.get('phone')?.invalid && (loginForm.get('phone')?.dirty || loginForm.get('phone')?.touched)">
        <div *ngIf="loginForm.get('phone')?.hasError('required')">Phone number is required</div>
      </div>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required</div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
  <br>


  