<div class="shop-now">
  <h2>waiting to dress up</h2>
  <p>soon to your wardrobes</p>
  <div class="container">
      <img src="../../../assets/images/service.png" alt="Fullscreen Image">
  </div>
</div>

    <!-- <div class="row">
           
      <div class="col-md-4" *ngFor="let product of dummyProducts">
        <div class="product-item">
          <img src="{{ product.imageUrl }}" alt="{{ product.name }}" (mouseenter)="zoomIn($event)" (mouseleave)="zoomOut($event)">
          <div class="product-details">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <button>Add to Cart</button>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->
  