<nav class="navbar sticky-top navbar-expand navbar-light bg-light " >
    <div class="container-fluid">
      <a class="navbar-brand"  style="color: rgb(13, 1, 1);" routerLink="">BE</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ms-auto">
          <li class="nav-item" >
            <a class="nav-link " routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="product" routerLinkActive="active-link">Store</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" routerLinkActive="active-link">About us</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="conect" routerLinkActive="active-link">Connect</a>
          </li> -->
          
        </ul>
      </div>
    </div>
  </nav> 
  


 