<!-- 
<div class="shop-now">
    <h2>waiting to dress up</h2>
    <p>soon to your wardrobes</p>
   <div class="row">
    <div class="col-lg-6" >
        <img src="../../../assets/images/C4F1A1E9-E6E6-456A-93E0-D855BBACE49E.png"
             style="max-height: 100%; width: 100%;" class="img-fluid" alt="Image">
    </div>
    <div class="col-lg-6 " style="background-color: rgb(242, 187, 105);">
        <div class="align-self-center text-center" style="padding: 20px;">
            <p class="move-text">Fashion is deeply intertwined with individual body shapes and complexions, shaping
                perceptions and inspiring designers to create tailored designs that complement and enhance diverse
                physical attributes.
        </div>
    </div>
</div>
  </div> -->'
  
  <div class="shop-now">
    <h2>About <span style="font-weight: bolder;"> BE </span> brand</h2>
</div>
<hr>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../../assets/images/about.png" class="img-fluid" alt="Image">
      </div>
      <br>
      <div class="col-md-6" style="font-family:'Times New Roman', Times, serif;font-size: small;" >
      
       <p>Welcome to BE, where style meets substance, and passion is our driving force. Founded by three visionary young women, our fashion brand is a celebration of individuality and self-expression. </p>
       <p> 
        Fueled by our shared love for creativity and design, we embarked on this journey to redefine the world of fashion. With a keen eye for trends and a commitment to inclusivity, we strive to empower individuals to embrace their unique sense of style and confidence.
       </p>
       <p>
        From sketching designs in our dorm rooms to curating runway-worthy collections, every stitch and seam reflects our unwavering dedication to authenticity and craftsmanship. Join us as we continue to push boundaries, break stereotypes, and inspire a new generation of trendsetters.
       </p>
        

      </div>
    </div>
  </div>